
/* Your CSS Code here. */
.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100px;
}